#resume {
  font-family: sans-serif;
  font-weight: 300;
}

#resume p {
  margin-top: 0.6em;
  line-height: 1.35em;
}

#resume ul {
  margin-top: 0.25em;
  margin-left: 1.3em;
}

#resume li {
  list-style: circle;
  margin-top: 0.5em;
  line-height: 1.35em;
}

/* Main header */
#resume h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 48px;
}

#resume > header {
  padding-bottom: 0.75em;
  border-bottom: 1px solid #ccc;
}

#resume > header aside {
  float: right;
  text-align: right;
  font-size: 15px;
  line-height: 1.4em;
}

/* Section spacing and borders */
#resume section {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

#resume section:last-of-type {
  border-bottom: none;
  padding-bottom: 0em;
}

/* Subheaders */
#resume section header {
  margin-bottom: 0.65em;
}

#resume section header aside {
  float: right;
  text-align: right;
}

#resume h3 {
  font-size: 19px;
  font-weight: 200;
  line-height: 0.9em;
  margin-bottom: 0.25em;
}

#resume h4 {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* Stuff for left float of headers */
#resume > section > h2 ~ * {
  /* pushes out everybody from the side headers */
  margin-left: 10.5em;
}

/* selects all left side headers */
#resume > section > h2 {
  width: 7em;
  float: left;
  font-size: 17px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1em;
  font-style: normal;
}

#resume > section > h2::first-letter {
  font-size: 1.2em;
  text-transform: uppercase;
}

#resume footer {
  margin-top: 1.5em;
  font-size: 11px;
  text-align: center;
}

@media screen {
  body {
    background-color: #999;
  }
  
  #resume {
    background-color: #fff;
    font-size: 13px;
    color: #333;
    width: 8.3in;
    margin: 30px auto;
    padding: 3.25em 4em 2em;
    
            border-radius:0.35em;
    -webkit-border-radius:0.35em;
       -moz-border-radius:0.35em;
    
            box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
  }
}

@media print {
  @page {
    margin-top: 0.15in;
    margin-bottom: 0.45in;
    margin-left: 0.55in;
    margin-right: 0.55in;
  }
  
  #resume {
    font-size: 9pt;
    background-color: white;
    color: black;
  }
}