#resume {
	font-family: 'Adobe Garamond Pro', 'Garamond', serif;
}

#resume p {
  margin-top: 1em;
  line-height: 1.2em;
}

#resume ul {
  margin-top: 0.25em;
  margin-right: 1em;
  margin-left: 1em;
  text-indent: -0.7em;
}

#resume li {
  list-style: none;
  margin-top: 0.35em;
  line-height: 1.25em;
}

#resume ul li:before {
  content: "\00BB \0020";
}

/* Main header */
#resume > header {
  padding-bottom: 0.75em;
  border-bottom: 1px solid #ccc;
}

#resume > header aside {
  float: right;
  text-align: right;
  font-size: 1.15em;
  line-height: 1.4em;
}

/* Section spacing and borders */
#resume section {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
#resume section:last-of-type {
  border-bottom: none;
  padding-bottom: 0em;
}

/* Subheaders */
#resume section header {
  margin-bottom: 0.5em;
}

#resume section header time {
  float: right;
  text-align: right;
} 
#resume h1, #resume h2, #resume h3, #resume h4, #resume h5 {
  font-weight: normal;
}

#resume h1 {
  font-size: 3.25em;
  letter-spacing: 0.035em;
}

#resume h3 {
  font-size: 1.425em;
  line-height: 0.9em;
  margin-bottom: 0.2em;
}

#resume h4 {
  font-size: 1.2em;
}

/* Stuff for left float of headers */
#resume > section > h2 ~ * {
  /* pushes out everybody from the side headers */
  margin-left: 10.5em;
}

/* selects all left side headers */
#resume > section > h2 {
  width: 7em;
  float: left;
  font-size: 1.375em;
  text-transform: uppercase;
  line-height: 1em;
  font-style: normal;
}

#resume > section > h2::first-letter {
  font-size: 1.25em;
  text-transform: uppercase;
}

#resume footer {
  margin-top: 2em;
  font-size: 0.75em;
  text-align: center;
}

@media screen {
  body {
    background-color: #929292;
  }
  
  #resume {
    background-color: white;
    font-size: 16px;
    color: #333;
    width: 8.5in;
    margin: 30px auto;
    padding: 3.25em 4em 2em;
    
    border-radius:0.35em;
    -moz-border-radius:0.35em;
    
    box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
  }
}

@media print {
  @page {
    margin-top: 0.15in;
    margin-bottom: 0.45in;
    margin-left: 0.55in;
    margin-right: 0.55in;
  }
  
  #resume {
    font-size: 9.25pt;
    background-color: white;
    color: black;
  }
}