/* CSS reset */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;outline:0;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{display:block;}
body
{line-height:1;}

#resume {
  font-family: "Arial", sans-serif;
}

#resume .deprecated {
  display: none;
}

#resume p {
  margin-top: 0.6em;
  line-height: 1.35em;
}

#resume ul {
  margin-top: 0.25em;
  margin-left: 1.3em;
}

#resume li {
  list-style: circle;
  margin-top: 0.5em;
  line-height: 1.35em;
}

/* Main header */
#resume h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 3.7em;
}

#resume > header {
  padding-bottom: 0.75em;
  border-bottom: 1px solid #ccc;
}

#resume > header > div {
  float: right;
  text-align: right;
  font-size: 15px;
  line-height: 1.5em;
}

/* Section spacing and borders */
#resume section {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

#resume section:last-of-type,
#resume section.last {
  border-bottom: none;
  padding-bottom: 0em;
}

/* Subheaders */
#resume section header {
  margin-bottom: 0.65em;
}

#resume section header > div {
  float: right;
  text-align: right;
}

#resume h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.25em;
}

#resume h4 {
  font-weight: normal;
  font-style: italic;
}

#resume li {
  page-break-inside: avoid;
}

/* Stuff for left float of headers */
#resume > section > h2 ~ * {
  /* pushes out everybody from the side headers */
  margin-left: 10em;
}

/* selects all left side headers */
#resume > section > h2 {
  width: 7em;
  float: left;
  font-size: 1.25em;
  font-weight: normal;
  color: #555;
  text-transform: uppercase;
  line-height: 1em;
  font-style: normal;
}

#resume footer {
  margin-top: 5em;
  font-size: 11px;
  text-align: center;
}

@media screen {
  body {
    background-color: #999;
  }

  #resume {
    background-color: #fff;
    font-size: 13px;
    width: 8.0in;
    margin: 30px auto;
    padding: 3em 4em 2em;
    border-radius:0.35em;
    box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
  }
}

@media print {
  #resume {
    margin: 0.5in 0.75in 0.5in 0.5in;
    font-size: 8pt;
    background-color: white;
  }
}
